<mat-sidenav-container class="bg-dark">
  <mat-sidenav #sidenav class="bg-dark" mode="over" style="overflow: hidden;">
    <app-side-menu></app-side-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="bg-secondary">
      <mat-toolbar-row>
        <button mat-stroked-button class="shadow-none" (click)="sidenav.toggle()">
          <mat-icon class="text-white">dehaze</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    <ng-scrollbar [visibility]="'hover'">
      <div class="container-fluid bg-dark fix-height text-white">
        <router-outlet></router-outlet>
      </div>
    </ng-scrollbar>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #backdropSpinner>
  <mat-spinner></mat-spinner>
</ng-template>