<div>
    <div>
        <button mat-button color="warn" (click)="backToLobby()">
            <mat-icon>keyboard_backspace</mat-icon>
            {{'Room.BackToLobby' | translate}}
        </button>
    </div>
</div>

<div class="d-flex justify-content-center">
    <h1 class="text-white">{{room.roomName}}</h1>
</div>

<div class="d-flex justify-content-center">
    <div *ngFor="let item of room.players">
        <nz-card style="width:300px;" [nzCover]="coverTemplate"
            [nzActions]="[actionSetting, actionEdit, actionEllipsis]">
            <nz-card-meta nzTitle="Card title" nzDescription="This is the description" >
            </nz-card-meta>
        </nz-card>
        <ng-template #coverTemplate>
            <img alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
        </ng-template>
        <ng-template #actionSetting>
            <i nz-icon nzType="setting"></i>
        </ng-template>
        <ng-template #actionEdit>
            <i nz-icon nzType="edit"></i>
        </ng-template>
        <ng-template #actionEllipsis>
            <i nz-icon nzType="ellipsis"></i>
        </ng-template>
    </div>
</div>